################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/Lab3-4/.vs/Lab3-4/FileContentIndex/2f908ab6-c226-47d2-b389-aefb61f4549e.vsidx
/Lab3-4/.vs/Lab3-4/FileContentIndex/6d783106-9675-4a72-ac44-f319406d8022.vsidx
